@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

html,
body {
  height: 100%;
}

body {
  --md-text-font-family: "Inter", Helvetica, Arial, sans-serif;
  --md-code-font-family: monospace, SFMono-Regular, Consolas, Menlo;
}

.md-grid {
  margin-left: auto;
  margin-right: auto;
  max-width: unset;
}

.md-main__inner {
  margin-top: 0;
}

.md-header {
  background-color: #222;
  box-shadow: none;
}

.md-search__input {
  background: #343436;
  color: #fff;
}

@media screen and (min-width: 60em) {
  [data-md-toggle="search"]:checked
    ~ .md-header
    .md-search__input
    + .md-search__icon {
    color: #fff;
  }
}

@media screen and (max-width: 59.9844em) {
  .md-search__input {
    color: #fff;
  }
}

.md-content {
  border-left: 1px solid #dde2e8;
  max-width: 1200px;
}

@media screen and (min-width: 76.25em) {
  [dir="ltr"]
    .md-sidebar--primary:not([hidden])
    ~ .md-content
    > .md-content__inner {
    margin-left: 70px;
    margin-right: 50px;
  }
}

.doc-section-title {
  font-weight: 500 !important;
}

.md-nav__title {
  color: #8f9ca3;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 76.2344em) {
  .md-nav--primary .md-nav__title[for="__drawer"] {
    background-color: #222;
  }
}

@media screen and (max-width: 59.9844em) {
  .md-nav__source {
    background-color: #222;
  }
}

.md-typeset h1,
.md-typeset h2 {
  font-weight: 500;
  color: #313131;
}

.md-typeset h1 {
  font-size: 2em;
  line-height: 1.3;
  margin: 0 0 1.25em;
}

.md-typeset {
  font-size: 15px;
}

.md-typeset code {
  background-color: #f7f9fc;
  border-radius: 3px;
}

.md-typeset a {
  color: #06c;
  word-break: break-word;
}

.md-typeset a:focus,
.md-typeset a:hover {
  color: #23527c;
  text-decoration: underline;
}

.md-typeset table:not([class]) {
  border: 0.1px solid #d9e1eb;
  font-size: 15px;
}

.md-typeset table:not([class]) th {
  font-weight: 500;
  min-width: 5rem;
  padding: 0.9375em 1.25em;
  vertical-align: top;
}

.md-typeset table:not([class]) tbody tr:hover {
  background-color: unset;
  box-shadow: none;
}

.md-typeset table:not([class]) td {
  border-top: 0.1px solid #d9e1eb;
}

.md-typeset code {
  background-color: transparent;
  color: #dc4343;
  border-radius: 3px;
  font-size: 15px;
  padding: 3px;
}

.doc-signature.highlight {
  background-color: #f3f5f8;
}

.md-nav__link[for]:focus,
.md-nav__link[for]:hover,
.md-nav__link[href]:focus,
.md-nav__link[href]:hover {
  color: #06c;
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code {
  color: #06c;
}

.md-nav__item .md-nav__link--active:hover,
.md-nav__item .md-nav__link--active code:hover {
  color: #06c;
}

.md-nav {
  font-size: 15px !important;
}

.md-nav__icon {
  color: #909da4;
}

.md-nav__link--active .md-nav__icon {
  color: #06c;
}

code.doc-symbol-class,
a code.doc-symbol-class {
  color: #06c !important;
  background-color: #f3f5f8 !important;
}

code.doc-symbol-method,
a code.doc-symbol-method {
  color: #9e5e94 !important;
  background-color: #f3f5f8 !important;
}

code.doc-symbol-attribute,
a code.doc-symbol-attribute {
  color: #dc4343 !important;
  background-color: #f3f5f8 !important;
}

code.doc-symbol {
  font-weight: 600 !important;
}

.highlight .nc,
.highlight .ne,
.highlight .nf,
.highlight .nn {
  color: #9e5e94;
}

.md-sidebar__scrollwrap:focus-within,
.md-sidebar__scrollwrap:hover {
  scrollbar-color: var(--md-default-fg-color--lighter) #0000;
}

.md-search__scrollwrap:hover {
  scrollbar-color: var(--md-default-fg-color--lighter) #0000;
}

.md-search-result mark {
  color: #06c;
}

.md-search-result__more > summary > div {
  color: #06c;
}

.md-search-result__more > summary > div:hover {
  color: #06c;
  background-color: #f1f1f1;
}

.md-search-result__more > summary {
  color: #06c;
}

.md-search-result__link:focus,
.md-search-result__link:hover,
.md-search-result__more > summary:hover {
  background-color: #f1f1f1;
}

.md-footer {
  display: none;
}

